#!/bin/bash

[Unit]
Description=Angular

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
User=frontend
WorkingDirectory=/home/frontend/TeamAPoolProjectUI/
ExecStart=/usr/bin/ng serve --host 0.0.0.0 
Restart=on-failure
RestartSec=10
KillMode=process


[Install]
WantedBy=multi-user.target

